.header {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    color: rgb(253, 167, 8);
}

.header a {
    text-decoration: none;
    margin-right: 10px;
    color: hsl(34, 96%, 51%);
    padding: 2%;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0 auto;
        padding: 0 auto;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
        margin-bottom: 10px;
    }

}